/build/
/.coverage
/docs/_build/
/*.egg-info/
__pycache__/
/pytest.prof
/.spyproject/config/backups/
/.spyproject/config/workspace.ini
/tmp_database.cnf
/tmp_database_error.cnf
/tmp_hist.txt
/tmp_histogram.txt

